<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>关于我</title>
</head>
<body>
<nav th:replace="_fragments::menu(5)" ></nav>

<div class="m-container index-padding-big">
    <div class="ui container">
        <!--11 5-->
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/1010/800/600" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">
                        关于我
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text-lined m-text-spaced m-text-thin">
                            关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我
                        </p>
                        <p class="m-text-lined m-text-spaced m-text-thin">
                            我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我关于我
                        </p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label index-margin-top-small">编程</div>
                        <div class="ui orange basic left pointing label index-margin-top-small">思考</div>
                        <div class="ui orange basic left pointing label index-margin-top-small">运动</div>
                        <div class="ui orange basic left pointing label index-margin-top-small">建设</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label index-margin-top-small">java</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">javaScript</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">Node</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">vue</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">mysql</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">redis</div>
                        <div class="ui teal basic left pointing label index-margin-top-small">kafka</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a class="ui circular icon button "><i class="github icon"></i></a>
                        <a class="ui circular icon button " id="weixin"><i class="weixin icon"></i></a>
                        <a class="ui qq circular icon button "
                           data-content="460703017"
                           data-position="bottom center" >
                            <i class="qq icon"></i>
                        </a>
                    </div>
                    <div  class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/weixinPot.png" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="_fragments::footer"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu_toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();
    $('#weixin').popup({
        popup : $('.wechat-qr.popup'),
        position: 'bottom center'
    })
</script>
</body>
</html>