<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>博客详情页</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
<body>
<nav class="ui inverted attached segment index-padding-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search....."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu_toggle black icon button index-top-right m-mobile-show" style="margin: 22px">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container-small index-padding-big">
    <div class="ui container">
        <!-- context header -->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin">14</h3> 个
                </div>
            </div>
        </div>
        <!--标签-->
        <div class="ui attached segment">
            <div class="ui labeled button index-margin-tb-tiny">
                <a class="ui basic teal button" href="#">思考与学习</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">spring</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>
            <div class="ui labeled button ndex-margin-tb-tiny">
                <a class="ui basic  button" href="#">生活感悟</a>
                <div class="ui basic teal left pointing label">13</div>
            </div>

        </div>
        <!--文章-->
        <div class="ui top attached teal segment">
            <div class="ui attached segment">
                <div class="ui padded vertical segment m-mobile-lr-clear">
                    <div class="ui stackable grid">
                        <!--左边文章内容-->
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text-lined m-text-spaced">你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？
                                你真的理解什么是财富自由吗？......</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">程序员</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2017-10-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <!--右边图片-->
                        <div class="five wide column">
                            <a href="" target="_blank">
                                <img  src="https://picsum.photos/id/1/800/400" class="ui rounded image" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui padded vertical segment m-mobile-lr-clear">
                    <div class="ui stackable grid">
                        <!--左边文章内容-->
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text-lined m-text-spaced">你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？
                                你真的理解什么是财富自由吗？......</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">程序员</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2017-10-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <!--右边图片-->
                        <div class="five wide column">
                            <a href="" target="_blank">
                                <img  src="https://picsum.photos/id/1/800/400" class="ui rounded image" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui padded vertical segment m-mobile-lr-clear">
                    <div class="ui stackable grid">
                        <!--左边文章内容-->
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text-lined m-text-spaced">你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？
                                你真的理解什么是财富自由吗？......</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">程序员</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2017-10-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <!--右边图片-->
                        <div class="five wide column">
                            <a href="" target="_blank">
                                <img  src="https://picsum.photos/id/1/800/400" class="ui rounded image" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui padded vertical segment m-mobile-lr-clear">
                    <div class="ui stackable grid">
                        <!--左边文章内容-->
                        <div class="eleven wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                            <p class="m-text-lined m-text-spaced">你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？你真的理解什么是财富自由吗？
                                你真的理解什么是财富自由吗？......</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">程序员</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2017-10-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <!--右边图片-->
                        <div class="five wide column">
                            <a href="" target="_blank">
                                <img  src="https://picsum.photos/id/1/800/400" class="ui rounded image" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--分页-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="ui inverted vertical segment index-padding-max">
    <div class="ui center aligned container">
        <!--grid 分成16份 布局 3/3/3/7-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/weixinPot.png" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header  m-text-spaced m-opacity-mini">最新博客</h4>
                <!--list 竖着的列表组件-->
                <div class="ui inverted link list">
                    <a class="item">spring学习路线</a>
                    <a class="item">spring学习路线</a>
                    <a class="item">spring学习路线</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header  m-text-spaced m-opacity-mini">联系我</h4>
                <!--list 竖着的列表组件-->
                <div class="ui inverted link list">
                    <a class="item">Email： sj09267@163.com</a>
                    <a class="item">QQ: 460703017</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">博客介绍</h4>
                <p class="m-text-spaced m-text-thin m-text-lined">spring学习路线spring学习路线spring学习路线spring学习路线spring学习路线spring学习路线spring学习路线spring学习路线</p>
            </div>
        </div>
        <div class="ui inverted section divider">
        </div>
        <P class="ui inverted m-text-spaced m-text-thin m-text-lined m-opacity-mini">©wycode.cn 2015-2020 All Right Reserved</P>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu_toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>